<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        <ul class>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a  href="/index.html"> Home </a></li>
        <li style="float:left;"><a href="/index.html"> Arthur Lui </a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
